<p>This is a project to play with technology. If you're lucky then, in <i>the future</i> you'll be able to use this service to find a liquor store on your way from where you are to where you're going.</p>
<p>Andy Mention made this shit</p>
