<p>Enter your current address and the address where you're headed.  We'll find some directions for you.</p>
<div>
  <input type="text" id="start_address" placeholder="Where are you now?" />
  <input type="text" id="end_address" placeholder="Where are you going?" />
</div>
